<form [formGroup]="form" (ngSubmit)=submitFn()>
  <div *ngIf="form.errors && form.errors.loginInvalid" class="alert alert-danger">Invalid username or password.</div>
  <div *ngIf="form.errors && form.errors.registerInvalid" class="alert alert-danger">Username is already exist.</div>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text" class="form-control">
    <!-- <div *ngIf="username.pending">Checking...</div> -->
    <div *ngIf="username.touched && username.invalid">
      <div *ngIf="username.errors.required" class="alert alert-danger">Username is required.</div>
      <div *ngIf="username.errors.minlength" class="alert alert-danger">Username should have {{
        username.errors.minlength.requiredLength }} characters.</div>
      <div *ngIf="username.errors.cannotContainSpace" class="alert alert-danger">Username cannot contain space.</div>
      <div *ngIf="username.errors.shouldBeUnique" class="alert alert-danger">Username is already exist.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" class="form-control">
    <div *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors.required" class="alert alert-danger">Password is required.</div>
    </div>
    <div *ngIf="router.url === '/register'">
      <label style="margin-top: 1rem;" for="confirmPassword">Confirm password</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">Confirm password.</div>
      </div>
      <div *ngIf="confirmPassword.errors?.shouldBeEqual" class="alert alert-danger">Passwords are different.</div>
    </div>
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary" type="submit">{{ buttonMsg }}</button>
  <button [disabled]="form.pristine" style="margin-left: 20px;" class="btn btn-danger" type="button" (click)="resetForm()">Wyczyść</button>
</form>