.videos-container {
    display: flex;
    justify-content: center;
}

.videos-container:hover {
    cursor: pointer;
}

.list-container {
    margin: 3rem;
}

.list-container button {
    margin-left: 10px;
}

.list-group-item {
    display: flex;
}

.list-group-item span {
    width: 100%;
}